 <br/><br/><br/><br/><br/><br/><br/><br/><br/>

 <script type="text/javascript">
 	setTimeout(function(){
  		$('#message').remove();
	}, 3000);
 </script>
 <center><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Customer</button></center>
 		<div id="message">
       <center><p class="text-info"><%=flash[:message]%></p></center>
       </div>






 <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">Add a new customer to the database</h4></center>
      </div>

      <div class="modal-body">
        <form class="form-horizontal" method="post" action="/customer">
                <fieldset>
                  <div class="form-group">
                    <div class="col-lg-10 col-md-offset-1">
                      <input type="text" class="form-control" placeholder="First Name" name="first_name">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-md-offset-1">
                      <input type="text" class="form-control" placeholder="Last Name" name="last_name">
                    </div>
                  </div>
                  <div class="form-group">
                  <div class="col-lg-10 col-md-offset-1">
                      <input type="text" class="form-control" placeholder="Address" name="address">
                    </div>
                  </div>
                  <div class="form-group">
                  <div class="col-lg-10 col-md-offset-1">
                      <input type="text" class="form-control" placeholder="Phone" name="phone">
                    </div>
                  </div>
                  <div class="form-group">
                  <div class="col-lg-10 col-md-offset-1">
                      <input type="text" class="form-control" placeholder="Mobile" name="mobile">
                    </div>
                  </div>
                  
                  <div class="form-group">
                  <div class="col-lg-10 col-md-offset-1">
                      <input type="text" class="form-control" placeholder="Email" name="email">
                    </div>
                  </div>
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>


                  <div class="form-group">
                      <center><button type="submit" class="btn btn-info">Add</button></center>
                  </div>
                </fieldset>
              </form>
      </div>
      <div class="modal-footer">
        <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
      </div>
    </div>

  </div>
</div>
<br/><br/><br/>
<table id="customers" class="sortable table table-striped table-hover">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Date Added</th>
                    <th>Edit/Delete</th>
                  </tr>
                </thead>
                <tbody>
                         
<% for customer in @customers do %>
	<tr>
		<td><%= customer.first_name %></td>
		<td><%= customer.last_name %></td>
		<td><%= customer.address %></td>
		<td><%= customer.phone %></td>
		<td><%= customer.mobile %></td>
		<td><%= customer.email %></td>
    <td><%= customer.created_at.strftime("%d/%m/%Y") %></td>
		<td><button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal-<%=customer.id%>">Edit</button><button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal-<%=customer.id%>-delete">Delete</button></td>
	</tr>

<% end %>
 </tbody>
</table>

<% for customer in @customers do %>
<div id="myModal-<%=customer.id%>" class="modal fade" role="dialog" style="background-color:white;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content-customer">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">Edit existing customer</h4></center>
      </div>

      <div class="modal-body">
        <form class="form-horizontal" method="post" action="/customer/edit">
                <fieldset>
                  <div class="form-group">
                    <div class="col-lg-10 col-md-offset-1">
                      <input type="text" class="form-control" placeholder="First Name" name="first_name" value="<%= customer.first_name %>">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-md-offset-1">
                      <input type="text" class="form-control" placeholder="Last Name" name="last_name" value="<%= customer.last_name %>">
                    </div>
                  </div>
                  <div class="form-group">
                  <div class="col-lg-10 col-md-offset-1">
                      <input type="text" class="form-control" placeholder="Address" name="address" value="<%= customer.address %>">
                    </div>
                  </div>
                  <div class="form-group">
                  <div class="col-lg-10 col-md-offset-1">
                      <input type="text" class="form-control" placeholder="Phone" name="phone" value="<%= customer.phone %>">
                    </div>
                  </div>
                  <div class="form-group">
                  <div class="col-lg-10 col-md-offset-1">
                      <input type="text" class="form-control" placeholder="Mobile" name="mobile" value="<%= customer.mobile %>">
                    </div>
                  </div>
                  
                  <div class="form-group">
                  <div class="col-lg-10 col-md-offset-1">
                      <input type="text" class="form-control" placeholder="Email" name="email" value="<%= customer.email %>">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-md-offset-1">
                      <textarea name="notes" placeholder="Notes"><%= customer.notes %></textarea>
                    </div>
                  </div>
                                    <input type="hidden" name="id" value="<%= customer.id %>"/>

                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>


                  <div class="form-group">
                      <center><button type="submit" class="btn btn-info">Update Details</button></center>
                  </div>
                </fieldset>
              </form>
      </div>
      <div class="modal-footer">
        <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
      </div>
    </div>
  </div>
</div>
    <div id="myModal-<%=customer.id%>-delete" class="modal fade" role="dialog" style="background-color:white;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content-customer">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">Delete <%= customer.first_name %> <%= customer.last_name%>?</h4></center>
      </div>

      <div class="modal-body">
        <center><h3>Are you sure?</h3></center><br/>
        <center><a href="/customer/delete/<%=customer.id%>"><button type="button" class="btn btn-danger">Yes</button></a>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button></center>
      </div>
      <div class="modal-footer">
        <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
      </div>
    </div>

  </div>
</div>
  <% end %>
<%= javascript_include_tag "tsorter.min.js" %>
<script type="text/javascript">
function init() {
    var sorter = tsorter.create('customers');
}
window.onload = init;
</script>